{% extends 'worker/worker_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/Update_uploadworksPOST/{{ data.id }}" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table width="345" border="1" class="table table-bordered">
    <tr>
      <th width="167" scope="row">WORK</th>
      <td width="162"><label for="fileField"></label>
          <a href="{{ data.work_image }}">click</a>
          <img src="{{ data.work_image}}" alt="" height="30px" width="30px"/>
      <input type="file" name="fileField" id="fileField" /></td>
    </tr>
    <tr>
      <th scope="row">Details</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data.details }}" /></td>
    </tr>
      <tr>
       <th scope="row">date</th>
      <td><label for="textfield1"></label>
      <input type="date" name="textfield1" id="textfield1" value="{{ data.date }}"  /></td>
    </tr>
    <tr>
      <td align="center" colspan="2" scope="row"><input type="submit" name="button" id="button" value="ADD" /></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}