{% extends 'worker/worker_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">

  <table width="342" border="1" class="table table-bordered">
    <tr>
      <th width="12" scope="col">#</th>
      <th width="89" scope="col">category</th>
      <th width="89" scope="col">details</th>
      <th width="67" scope="col">Amount</th>
      <th width="67" scope="col"></th>

    </tr>
      {% for i in data %}

      <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.CATEGORY.name }}</td>
      <td>{{ i.service}}</td>
      <td>&nbsp;{{ i.amount }}</td>

       <td><a href="/View_serviceupdate/{{ i.id }}">Update</a><br>
           <a href="/View_servicedelete/{{ i.id }}" onclick="return confirm('Are you sure?')">Delete</a><br>
           <a href="/View_bookings/{{ i.id }}" >Bookings</a></td>

    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}