{% extends 'worker/worker_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="368" border="1" class="table table-bordered">
    <tr>
      <th width="12" scope="col">#</th>
      <th width="75" scope="col">Service</th>
      <th width="44" scope="col">user</th>
      <th width="96" scope="col">Payment date</th>
      <th width="107" scope="col">Status</th>
    </tr>
    {% for i in data %}
      <tr>
      <td >{{ forloop.counter }}</td>
      <td>{{ i.SERVICE.CATEGORY.name }}</td>
      <td>{{ i.BOOKING.USER.username }}&nbsp;</td>
      <td>{{ i.BOOKING.paymentdate }}&nbsp;</td>
      <td>{{ i.BOOKING.paymentstatus}}&nbsp;</td>
    </tr>
{% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}