{% extends 'worker/worker_index.html' %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">

  <table width="342" border="1" class="table table-bordered">
    <tr>
      <th width="12" scope="col">#</th>
      <th width="89" scope="col">Details</th>
      <th width="67" scope="col">WORK</th>
      <th width="67" scope="col">Date</th>
      <th width="67" scope="col"></th>

    </tr>
      {% for i in data %}

      <tr>
      <td>{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.details }}</td>
{#      <td><img src="{{ i.work_image }}" height="100" width="100" alt=""/></td>#}
      <td><a href="{{ i.work_image }}">View</a> </td>
      <td>&nbsp;{{ i.date }}</td>
       <td><p><a href="/Update_uploadworks/{{ i.id }}#hom" class="btn btn-success">Update</a></p>
           <p><a href="/Delete_uploadworks/{{ i.id }}" onclick="return confirm('Are you sure?')">Delete</a></p>
           {#           <p><a href="/View_bookings/{{ i.id }}" >Bookings</a></p></td>#}</td>

    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}