{% extends 'worker/worker_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h3 style="text-align:center;font-family: Roboto;">View Profile</h3>

<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table style="width: 650px;height: 300px;border-color: #D81324" class="table table-bordered" align="center">

    <tr align="center">
      <th scope="row">Name</th>
      <td>{{ data.name }}</td>
    </tr>
    <tr align="center">
      <th scope="row">Email</th>
      <td>{{ data.email }}</td>
    </tr>

    <tr align="center">
      <th scope="row">Phone</th>
      <td>{{ data.phone }}</td>
    </tr>
    <tr align="center">
      <th scope="row">Experience</th>
      <td>{{ data.experience }}</td>
    </tr>
    <tr align="center">
      <th scope="row">Age</th>
      <td>{{ data.age }}</td>
    </tr>
    <tr align="center">
      <th scope="row">ID proof</th>
      <td><img src="{{ data.IDproof }}" height="20px" width="20px"></td>
    </tr>
    <tr align="center">
      <th scope="row">Locate</th>
        <td><a href="https://www.google.com/maps/?q={{ i.lattitude }},{{ i.longtitude }}"class="btn btn-light">Track</a> </td>
    </tr>

{#    <tr align="center">#}
{#        <td colspan="2" align="center"><a href="/worker_edit_profile/{{ data.id }}#aa" class="btn btn-primary">Edit profile</a></td>#}
{#    </tr>#}
  </table>
</form>
</body>
</html>

{% endblock %}