{% extends 'admin/admin_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <p>FeedBack
</p>
  <table width="231" height="95" border="1" class="table table-borderd" style="color: white">
    <tr>
      <th width="12" scope="row">#</th>
      <td width="51">user Id</td>
      <td width="46">Feedback</td>
      <td width="94">Date</td>
    </tr>
     {% for i in data %}
    <tr>
      <th height="31" scope="row">&nbsp;{{ forloop.counter }}</th>
      <td>{{ i.USER.username }}</td>
      <td>&nbsp;{{ i.feedback }}</td>
      <td>{{ i.date }}&nbsp;</td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp; </p>
</form>
</body>
</html>
{% endblock %}