<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->



<!DOCTYPE html>
<html>

<!-- Head -->
<head>

<title>Natural Signin Form A Flat Responsive Widget Template :: W3layouts</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Natural Signin Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->

<!-- Style --> <link rel="stylesheet" href="/static/login_temp/css/style.css" type="text/css" media="all">

<!-- Fonts -->
<link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
<!-- //Fonts -->

</head>
<!-- //Head -->

<!-- Body -->
<body>
<div class="banner">
<div class="agileinfo-dot">
	<h1>NATURAL SIGNIN FORM</h1>

	<div class="w3layoutscontaineragileits">
	<h2>Sign In</h2>

<form action="/user_register_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table width="345" border="1">
    <tr>
      <th width="174" scope="row">Name</th>
      <td width="155"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" required/></td>
    </tr>
       <tr>
      <th scope="row">Place</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" required  /></td>
    </tr>

    <tr>
      <th scope="row">Post</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" required /></td>
    </tr>
    <tr>
      <th scope="row">pin</th>
      <td><label for="textfield4"></label>
       <input type="text" name="textfield4" id="textfield4" required /></td>
    </tr>

       <tr>
      <th scope="row">Email</th>
      <td><label for="textfield5"></label>
      <input type="email" name="textfield5"  required/></td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield6"  required pattern="[6-9][0-9]{9}" maxlength="10"/></td>
    </tr>
    <tr>
      <th scope="row">Password</th>
      <td><label for="textfield7"></label>
      <input type="text" name="textfield7" id="textfield7" /></td>
    </tr>

    <tr>
      <th height="36" colspan="2" scope="row"><input type="submit" name="Register" id="Register" value="Submit" /></th>
    </tr>
  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</form>
<div>
            <br>
            <a href="/"><font color="white">Have an account signin now?</font> </a>
        </div>
	</div>


	<div class="w3footeragile">
		<p> &copy; 2017 Natural Signin Form. All Rights Reserved | Design by <a href="http://w3layouts.com" target="_blank">W3layouts</a></p>
	</div>

</div>
</div>




</body>
<!-- //Body -->

</html>

