{% extends 'user/user_index.html' %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h3 style="text-align:center;font-family: Roboto;">View Categories</h3>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered" align="center">
    <tr align="center" style="background-color: #D81324;color: white">
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td align="center">&nbsp;{{ forloop.counter }}</td>
      <td align="center">&nbsp;{{ i.name }}</td>
        <td align="center"><a href="/user_view_service/{{ i.id }}#hom" class="btn btn-success">view service</a></td>
{#      <td align="center"><a href="/user_approved_worker/{{ i.id }}#aa" class="btn btn-success">view workers</a></td>#}
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>


{% endblock %}