{% extends 'user/user_index.html' %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h3 style="text-align:center;font-family: Roboto;">View bill</h3>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered" align="center">
    <tr align="center" style="background-color: #D81324;color: white">
      <th scope="col">#</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">Service</th>
    </tr>
      {% for i in data %}
    <tr>
      <td align="center">&nbsp;{{ forloop.counter }}</td>
      <td align="center">&nbsp;{{ i.amount }}</td>
      <td align="center">&nbsp;{{ i.date }}</td>
      <td align="center">&nbsp;{{ i.SERVICE.service }}</td>
    </tr>
      {% endfor %}
  </table>
</form>..
</body>
</html>


{% endblock %}