{% extends 'user/index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h3 style="text-align:center;font-family: Roboto;">View Bank</h3>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered" align="center">
    <tr align="center" style="background-color: #D81324;color: white">
      <th scope="col">#</th>
      <th scope="col">Bank Name</th>
      <th scope="col">Account No</th>
      <th scope="col">IFSC Code</th>
      <th scope="col">Amount</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td align="center">&nbsp;{{ forloop.counter }}</td>
      <td align="center">&nbsp;{{ i.bank_name }}</td>
      <td align="center"> {{ i.account_no }}</td>
      <td align="center"> {{ i.IFSC_code }}</td>
      <td align="center"> {{ i.amount }}</td>
      <td align="center"><a href="/user_delete_bank/{{ i.id }}" class="btn btn-success">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>


{% endblock %}